/*-----------------------------------------------------------------------------------
 *	Church Pack Styles 
 *  http://www.wpforchurch.com
 *
-----------------------------------------------------------------------------------*/

/* Google Map shortcode - old */
#cp-map {padding: 0px 0px 4%;}
#cp-map img {max-width: 100%; height: auto;}

/*-----------------------------------------------------------------------------------
	Styles for Groups
-----------------------------------------------------------------------------------*/
.wpfc_group .entry-meta, .wpfc_group .meta {display:none;}

.wpfc_group .cp-googlemaps {
	clear: both;
}

.wpfc_group .group-desc {
	float: left;
}

.group-title{
}

h3.group-leader{
	text-transform: uppercase;
	font-size: 12px;
	clear: right;
}

.group-desc, .cp-group-details {
	clear: both;
}

/*-----------------------------------------------------------------------------------
	Styles for People
-----------------------------------------------------------------------------------*/
.wpfc_person .entry-meta, .wpfc_person .meta {display:none;}

.churchpack-people { 
	clear: both; 
}

h3.person-title{
	text-transform: uppercase;
	font-size: 12px;	
}

.churchpack-title{
	padding-top: 20px;	
}

.churchpack-album {
	clear: both;
	margin-bottom: 20px!important;
	overflow: auto;
	width: 100%	
}

/* Social Links */
div.cp-social ul {
	list-style: none!important;
	margin: 0 0 0.933333333em 0!important;
	overflow: hidden;	
	height: 27px
}
div.cp-social li {
	float: left;
	list-style: none!important;
	margin: 0 0.933333% 0.933333333em 0!important;
}
div.cp-social li:last-child {
	margin-right: 0;
}
div.cp-social span {
	display: none;
	line-height: 0;
}
div.cp-social li a {
	display: block;
	height: 26px;
	width: 26px;
}
div.cp-social li a:hover {
	opacity: 0.8;
}

div.cp-social li a.cp-facebook {
	background: url(img/icon-facebook.png) no-repeat 0 0;
		list-tyle-type:none!important;
}
div.cp-social li a.cp-twitter {
	background: url(img/icon-twitter.png) no-repeat 0 0;
		list-tyle-type:none!important;
}
div.cp-social li a.cp-blog {
	background: url(img/icon-blog.png) no-repeat 0 0;
		list-tyle-type:none!important;
}
div.cp-social li a.cp-email {
	background: url(img/icon-email.png) no-repeat 0 0;
		list-tyle-type:none!important;
}